.AppBar{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #e2e2e2;
    background-color: #fbfbfb;
    justify-content: start;
    align-items: center;
}

.AppBarIcon{
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.AppBarHeading{
    width: calc(100% - 100px);
    /* margin: auto; */
    height: 22px;
    font-size: 22px;
    color: #484848;
    font-family: Arial, sans-serif;
}

@media screen and (max-width: 800px) {
    .AppBar{
        align-items: start;
    }
    
    .AppBarHeading{
        display: flex;
        justify-content: center;
    }
}