

.body{
    background-color: #fbfbfb;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100dvh;
}

.btnContainer{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left: 10px;
    align-items: center;
}

.divContainer{
    height: calc(100dvh - 40px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    overflow: auto;
    scrollbar-width: none;
}

.container{
    width: calc(20% - 20px);
    height: calc(50dvh - 40px);
    background-color: var(--divColor);
    padding: 10px;
    margin: 10px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    overflow: auto;
    scrollbar-width: none;
    display: flex;
    flex-direction: column; 
}

.containerHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    height: 30px;
}

.item{
    padding-left: 10px;
    margin: 5px;
    height: 40px;
    font-size: 15px;
    cursor: move;
    border-radius: 5px;
    background-color: var(--itemColor);
    opacity: var(--itemOpacity);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lastItem{
    flex-grow: 1;
    padding-left: 10px;
    margin: 5px;
    line-height: 40px;
    height: 40px;
    background-color: lightgrey;
    opacity: 0;
    cursor: move;
}

.btnStyle{
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    margin-left: 2px;
    margin-right: 2px;
    height: 30px;
    width: 30px;
}

.btnSmallStyle{
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    margin: 5px;
    height: 30px;
    width: 30px;
}

@media screen and (max-width: 800px) {
    .container{
        width: calc(100% - 20px);
    }

    .divContainer{
        justify-content: center;
    }
}